<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <h1 class="text-7xl font-bold text-center my-6">Política de Cookies</h1>
    <p class="text-center">Última actualización: 01-01-2025</p>
  </div>
</div>
<div class="flex justify-center mt-4 mb-8">
  <div class="w-full max-w-3xl">
    <p class="leading-relaxed">
      En HoopLink, utilizamos cookies y tecnologías similares para mejorar la experiencia de<br>
      nuestros usuarios, analizar el uso de nuestra plataforma y ofrecer contenido y publicidad<br>
      personalizada. Esta Política de Cookies explica qué son las cookies, cómo las utilizamos y<br>
      cómo puedes gestionarlas.
    </p>
  </div>
</div>
<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <h1 class="text-6xl text-left">Índice</h1>
    <ol class="list-decimal ml-14">
      @for (section of sections; track $index) {
        <li class="my-2">
          <a [href]="'#'+section.id" (click)="moveToSection(section.id, $event)">{{section.title}}</a>
        </li>
      }
      </ol>
  </div>
</div>
<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <section class="my-5 px-2 py-2"  id="pol1">
      <h2 class="text-5xl">¿Qué son las cookies?</h2>
      <p class="leading-relaxed">
        Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando<br>
        visitas nuestro sitio web o utilizas nuestra aplicación. Estas cookies permiten reconocer tu<br>
        dispositivo, recordar tus preferencias y mejorar tu experiencia de navegación.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol2">
      <h2 class="text-5xl">Tipos de cookies que utilizamos</h2>
      <p class="leading-relaxed">
        <span>
          <ol class="list-[lower-alpha] ml-10">
            <li>
              Cookies esenciales:
              <ul class="list-[circle] ml-10">
                <li>
                  Estas cookies son necesarias para el funcionamiento de la plataforma y no pueden
                  desactivarse en nuestros sistemas. Se utilizan para autenticar usuarios, evitar fraudes
                  y garantizar la seguridad del sitio.
                </li>
              </ul>
            </li>
            <li>
              Cookies de rendimiento y análisis:
              <ul class="list-[circle] ml-10">
                <li>
                  Nos ayudan a recopilar información sobre cómo los usuarios interactúan con nuestra
                  plataforma, permitiéndonos mejorar su funcionamiento y optimizar la experiencia del usuario.
                </li>
              </ul>
            </li>
            <li>
              Cookies de funcionalidad:
              <ul class="list-[circle] ml-10">
                <li>
                  Estas cookies permiten recordar tus preferencias, como el idioma y la región, para brindarte
                  una experiencia personalizada.
                </li>
              </ul>
            </li>
            <li>
              Cookies de publicidad y marketing:
              <ul class="list-[circle] ml-10">
                <li>
                  Utilizamos estas cookies para mostrar anuncios relevantes para ti, tanto en nuestro sitio
                  como en otras páginas web. También permiten medir la efectividad de nuestras campañas publicitarias.
                </li>
              </ul>
            </li>
          </ol>
        </span>
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol3">
      <h2 class="text-5xl">¿Cómo gestionar las cookies?</h2>
      <p class="leading-relaxed">
        Puedes gestionar y desactivar las cookies a través de la configuración de tu navegador. Sin
        embargo, la desactivación de algunas cookies esenciales podría afectar el funcionamiento de la plataforma.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol4">
      <h2 class="text-5xl">Cookies de terceros</h2>
      <p class="leading-relaxed">
        Algunas cookies en nuestra plataforma son establecidas por terceros, como proveedores de
        análisis o socios publicitarios. Estos terceros pueden recopilar información sobre tu
        actividad en nuestro sitio y otros sitios web.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol5">
      <h2 class="text-5xl">Cambios en esta Política de Cookies</h2>
      <p class="leading-relaxed">
        Podemos actualizar esta política en cualquier momento. Te recomendamos revisarla
        periódicamente para estar informado sobre cualquier cambio.
      </p><br>
      Tomaremos las medidas necesarias, incluyendo la eliminación del contenido si corresponde.
    </section><br>
    <section class="my-5 px-2 py-2" id="pol6">
      <h2 class="text-5xl">Contacto</h2>
      <p class="leading-relaxed">
        Para cualquier consulta o autorización sobre el uso de la marca, por favor contacta a:
        <span>
          <ul class="list-disc ml-10">
            <li>
              Correo electrónico:
              <ul class="list-[circle] ml-10">
                <li>
                  hooplink2&#64;gmail.com
                </li>
              </ul>
            </li>
            <li>
              Empresa:
              <ul class="list-[circle] ml-10">
                <li>
                  Sport Forum, S.A.P.I. de C.V.
                </li>
              </ul>
            </li>
          </ul>
        </span>
      </p>
    </section><br>
  </div>
</div>
