<div class="min-h-screen flex items-center justify-center px-4">
  <div class="">
    <form [formGroup]="formulario" (ngSubmit)="guardar()" autocomplete="off">
        <p-card [className]="'shadow-8'" [style]="{ width: '25rem', overflow: 'hidden', 'box-shadow': '0px 18px 92px 16px rgba(0, 0, 0, 0.12), 0px 48px 76px 6px rgba(0, 0, 0, 0.14), 0px 22px 30px rgba(0, 0, 0, 0.2)' }">
          <ng-template pTemplate="title">
            <h1 class="flex justify-center align-center text-5xl">Ingresa tus Datos</h1>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="grid grid-cols-12 gap-4">
              <div class="col-span-12">
                <p-floatlabel variant="on">
                  <input
                    pInputText id="on_label_nombre"
                    [ngClass]="{ 'ng-invalid ng-dirty': esValido('nombre'), 'ng-valid': !esValido('nombre') }"
                    formControlName='nombre'
                    autocomplete="off"
                    fluid="true" />
                  <label for="on_label_nombre">Nombre</label>
                </p-floatlabel>
                @if (esValido('nombre')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('nombre', 'Nombre')" ></small>
                }
              </div>
              <div class="col-span-12">
                <p-floatlabel variant="on">
                  <input
                    pInputText id="on_label_a_paterno"
                    [ngClass]="{ 'ng-invalid ng-dirty': esValido('apellidoPaterno'), 'ng-valid': !esValido('apellidoPaterno') }"
                    formControlName='apellidoPaterno'
                    autocomplete="off"
                    fluid="true" />
                  <label for="on_label_a_paterno">Apellido Paterno</label>
                </p-floatlabel>
                @if (esValido('apellidoPaterno')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('apellidoPaterno', 'Apellido Paterno')" ></small>
                }
              </div>
              <div class="col-span-12">
                <p-floatlabel variant="on">
                  <input
                    pInputText id="on_label_a_matenro"
                    [ngClass]="{ 'ng-invalid ng-dirty': esValido('apellidoMaterno'), 'ng-valid': !esValido('apellidoMaterno') }"
                    formControlName='apellidoMaterno'
                    autocomplete="off"
                    fluid="true" />
                  <label for="on_label_a_matenro">Apellido Materno</label>
                </p-floatlabel>
                @if (esValido('apellidoMaterno')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('apellidoMaterno', 'Apellido Materno')" ></small>
                }
              </div>
              <div class="col-span-12">
                  <p-floatlabel variant="on">
                    <p-datepicker
                      [ngClass]="{ 'ng-invalid ng-dirty': esValido('fechaNacimiento'), 'ng-valid': !esValido('fechaNacimiento') }"
                      formControlName='fechaNacimiento'
                      inputId="on_label_fecha_nacimiento"
                      showIcon
                      iconDisplay="input"
                      fluid="true"
                      appendTo="body" />
                    <label for="on_label_fecha_nacimiento">Fecha de Nacimiento</label>
                </p-floatlabel>
                @if (esValido('fechaNacimiento')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('fechaNacimiento', 'Fecha de Nacimiento')" ></small>
                }
              </div>
              <div class="col-span-12">
                <p-select
                  [ngClass]="{ 'ng-invalid ng-dirty': esValido('estado'), 'ng-valid': !esValido('estado') }"
                  formControlName='estado'
                  [class.ng-dirty]="esValido('estado')"
                  filter="true"
                  [options]="allEstados"
                  (onChange)="onCambiaEstado($event)"
                  optionLabel="nombre"
                  placeholder="Selecciona el estado"
                  class="w-full capitalize" />
                @if (esValido('estado')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('estado', 'Estado')" ></small>
                }
              </div>
              <div class="col-span-12">
                <p-select
                  [ngClass]="{ 'ng-invalid ng-dirty': esValido('municipio'), 'ng-valid': !esValido('municipio') }"
                  formControlName='municipio'
                  [class.ng-dirty]="esValido('municipio')"
                  filter="true"
                  [options]="allMunicipios"
                  optionLabel="nombre"
                  placeholder="Selecciona el municipio"
                  class="w-full capitalize" />
                @if (esValido('municipio')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('municipio', 'Municipio')" ></small>
                }
              </div>
              <div class="col-span-12">
                <p-floatlabel variant="on">
                  <input
                    pInputText id="on_label_residencia"
                    [ngClass]="{ 'ng-invalid ng-dirty': esValido('residencia'), 'ng-valid': !esValido('residencia') }"
                    formControlName='residencia'
                    autocomplete="off"
                    fluid="true" />
                  <label for="on_label_residencia">Lugar de Residencia</label>
                </p-floatlabel>
                @if (esValido('residencia')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('residencia', 'Lugar de Residencia')" ></small>
                }
              </div>
              <div class="col-span-12">
                <p-floatlabel variant="on">
                  <input
                    pInputText id="on_label_correo"
                    type="email"
                    [ngClass]="{ 'ng-invalid ng-dirty': esValido('correo'), 'ng-valid': !esValido('correo') }"
                    formControlName='correo'
                    autocomplete="off"
                    fluid="true" />
                  <label for="on_label_correo">Correo</label>
                </p-floatlabel>
                @if (esValido('correo')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('correo', 'Correo')"></small>
                }
              </div>
              <div class="col-span-12">
                <p-floatlabel variant="on">
                  <p-inputmask
                      inputId="on_telefono"
                      mask="999-999-9999"
                      [style]="{ width: '100%' }"
                      formControlName='telefono'
                      [class.ng-dirty]="esValido('telefono')"
                      [class.ng-valid]="!esValido('telefono') && formulario.get('telefono')?.value"
                      variant="filled" />
                </p-floatlabel>
                @if (esValido('telefono')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('telefono', 'Telefono')" ></small>
                }
              </div>
              <div class="col-span-12">
                <p-select
                  [ngClass]="{ 'ng-invalid ng-dirty': esValido('tipoUsuario'), 'ng-valid': !esValido('tipoUsuario') }"
                  formControlName='tipoUsuario'
                  [options]="allTipoUsuario"
                  optionLabel="nombre"
                  placeholder="Selecciona el tipo de usuario"
                  class="w-full capitalize" />
                @if (esValido('tipoUsuario') || formulario.errors?.['edadInsuficiente']) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('tipoUsuario', 'Tipo de Usuario')" ></small>
                }
              </div>
              <div class="col-span-12">
                <p-floatlabel variant="on">
                  <p-password
                    formControlName='contrasena'
                    [ngClass]="{ 'ng-invalid ng-dirty': esValido('contrasena'), 'ng-valid': !esValido('contrasena') }"
                    [class.ng-valid]="!esValido('contrasena') "
                    autocomplete="off"
                    [toggleMask]="true"
                    [fluid]="true"
                    appendTo="body">
                    <ng-template pTemplate="header">
                        <div class="font-semibold text-xm mb-4">Elige una contraseña.</div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider />
                        <ul class="pl-2 ml-2 my-0 list-disc">
                            <li>Por lo menos una letra minuscula.</li>
                            <li>Por lo menos una letra mayuscula.</li>
                            <li>Por lo menos un numero.</li>
                            <li>Minimo 8 caracteres.</li>
                        </ul>
                    </ng-template>
                  </p-password>
                  <label for="on_label_contrasena">Contraseña</label>
                  <!-- <input pInputText id="on_label_contrasena" [ngClass]="{ 'ng-invalid ng-dirty': esValido('contrasena'), 'ng-valid': !esValido('contrasena') }"  formControlName='contrasena' autocomplete="off" fluid="true" /> -->
                </p-floatlabel>
                @if (esValido('contrasena')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('contrasena', 'Contraseña')" ></small>
                }
              </div>
              <div class="col-span-12">
                <div class="flex items-center gap-2">
                  <p-checkbox
                    [styleClass]="esValido('aceptaTerminos') ? 'ng-invalid ng-dirty' : 'ng-valid'"
                    formControlName='aceptaTerminos'
                    [binary]="true"/>
                  <label for="acepto_terminos" class="ml-2">
                    <a routerLink="/portal/terminos-condiciones" target="_blank" class="flex enlace-color no-underline">Aceptar Terminos y Condiciones</a>
                  </label><br>
                </div>
                @if (esValido('aceptaTerminos')) {
                  <small class="campoErrorTexto" [innerHTML]="getErrores('aceptaTerminos', 'Terminos y Condiciones')" ></small>
                }
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
              <div class="flex gap-4 mt-1">
                  <p-button label="Guardar" class="w-full" styleClass="w-full" type="submit" [disabled]="formulario.invalid" />
              </div>
          </ng-template>
        </p-card>
      </form>
  </div>
</div>
