<div class="grid m-0 p-0">
  <div class="col-12 flex flex-column align-items-center justify-content-center">
    <label class="text-7xl components-font">Política de Privacidad</label>
    <label for="">Última actualización: 01-01-2025</label>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="lg:col col-12 flex flex-column align-items-center justify-content-center">
    <p class="text-left">
      En Sport Forum, S.A.P.I. de C.V., operadora de la plataforma HoopLink, reconocemos la<br>
      importancia de proteger los datos personales de nuestros usuarios. Por ello,<br>
      nos comprometemos a cumplir con la Ley Federal de Protección de Datos Personales en<br>
      Posesión de los Particulares (LFPDPPP) y otras disposiciones aplicables en México.
    </p>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="col-3"></div>
  <div class="lg:col col-12 flex flex-column align-items-left justify-content-center">
    <h1 class="text-6xl text-left">Índice</h1>
    <ol>
      @for (section of sections; track $index) {
        <li>
          <a [href]="'#'+section.id" (click)="moveToSection(section.id, $event)">{{section.title}}</a>
        </li>
      }
    </ol>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="col-3"></div>
  <div class="lg:col col-12 flex flex-column align-items-left justify-content-center">
    <section id="pol1">
      <h2>Responsable del Tratamiento de Datos</h2>
      <p>
        La empresa Sport Forum, S.A.P.I. de C.V., con domicilio en [dirección física], es responsable<br>
        del tratamiento de los datos personales que recopilamos a través de HoopLink.
      </p>
    </section><br>
    <section id="pol2">
      <h2>Datos Personales que Recopilamos</h2>
      <p>
        Para ofrecer nuestros servicios, podemos recopilar las siguientes categorías de datos personales:<br>
        <span>
          <ul>
            <li>
              Información de contacto: nombre, correo electrónico, teléfono.
            </li>
            <li>
              Información deportiva: estadísticas, videos de desempeño, logros y fotografías.
            </li>
            <li>
              Información académica: nivel educativo, historial académico y escuelas de interés.
            </li>
            <li>
              Datos técnicos: dirección IP, cookies y datos de navegación en nuestra plataforma.
            </li>
          </ul>
        </span><br>
        No recopilamos datos sensibles como información sobre religión, salud o afiliación política.
      </p>
    </section><br>
    <section id="pol3">
      <h2>Finalidades del Tratamiento</h2>
      <p>
        Los datos personales recopilados serán utilizados para:<br>
        <span>
          <ul>
            <li>
              Crear y gestionar perfiles de jugadores.
            </li>
            <li>
              Conectar a los jugadores con escuelas interesadas en su desempeño deportivo.
            </li>
            <li>
              Enviar notificaciones, actualizaciones y comunicaciones relacionadas con nuestros servicios.
            </li>
            <li>
              Mejorar la experiencia del usuario en la plataforma.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section id="pol4">
      <h2>Transferencia de Datos</h2>
      <p>
        Con el consentimiento del usuario, los datos personales podrán ser compartidos con:<br>
        <span>
          <ul>
            <li>
              Escuelas y entrenadores interesados en el perfil del jugador.
            </li>
            <li>
              Proveedores de servicios tecnológicos que apoyen la operación de la plataforma.
            </li>
          </ul>
        </span><br>
        No venderemos ni transferiremos tus datos a terceros sin autorización previa.
      </p>
    </section><br>
    <section id="pol5">
      <h2>Derechos ARCO</h2>
      <p>
        En cualquier momento, el titular de los datos personales podrá ejercer sus derechos de<br>
        Acceso, Rectificación, Cancelación y Oposición (ARCO) mediante una solicitud enviada a<br>
        nuestro correo electrónico: hooplink2&#64;gmail.com.
      </p>
    </section><br>
    <section id="pol6">
      <h2>Uso de Cookies y Tecnologías Similares</h2>
      <p>
        Utilizamos cookies para mejorar la funcionalidad de nuestra plataforma. Puedes<br>
        deshabilitarlas directamente desde la configuración de tu navegador.
      </p>
    </section><br>
    <section id="pol7">
      <h2>Seguridad de los Datos</h2>
      <p>
        Implementamos medidas administrativas, técnicas y físicas para proteger los datos<br>
        personales contra daño, pérdida, alteración, acceso no autorizado o tratamiento indebido
      </p>
    </section><br>
    <section id="pol8">
      <h2>Cambios a la Política de Privacidad</h2>
      <p>
        Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento.<br>
        Las modificaciones serán notificadas a través de nuestro sitio web.
      </p>
    </section><br>
    <section>
      Si tienes preguntas o inquietudes sobre esta política, contáctanos en:<br>
      hooplink2&#64;gmail.com<br>
      Sport Forum, S.A.P.I. de C.V.
    </section>
  </div>
  <div class="col-3"></div>
</div>
