<div class="grid m-0 p-0">
  <div class="col-12 flex flex-column align-items-center justify-content-center">
    <label class="text-7xl components-font">Política de Marca</label>
    <label for="">Última actualización: 01-01-2025</label>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="lg:col col-12 flex flex-column align-items-center justify-content-center">
    <p class="text-left">
      Sport Forum, S.A.P.I. de C.V., operadora de la plataforma HoopLink, se compromete a<br>
      proteger la propiedad intelectual de todo el contenido disponible en nuestra plataforma.<br>
      Esta política establece las directrices sobre el uso de nuestro contenido y los derechos asociados.
    </p>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="col-3"></div>
  <div class="lg:col col-12 flex flex-column align-items-left justify-content-center">
    <h1 class="text-6xl text-left">Índice</h1>
    <ol>
      @for (section of sections; track $index) {
        <li>
          <a [href]="'#'+section.id" (click)="moveToSection(section.id, $event)">{{section.title}}</a>
        </li>
      }
    </ol>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="col-3"></div>
  <div class="lg:col col-12 flex flex-column align-items-left justify-content-center">
    <section id="pol1">
      <h2>Propiedad Intelectual</h2>
      <p>
        Todo el contenido presente en HoopLink, incluyendo pero no limitado a textos, gráficos,<br>
        logos, imágenes, videos, diseño de la plataforma y cualquier otro material, es propiedad<br>
        exclusiva de Sport Forum, S.A.P.I. de C.V. o de sus licenciantes. Este contenido está protegido<br>
        por las leyes de propiedad intelectual aplicables en México y tratados internacionales.
      </p>
    </section><br>
    <section id="pol2">
      <h2>Contenido Generado por Usuarios</h2>
      <p>
        Los usuarios conservan los derechos sobre el contenido que comparten en la plataforma<br>
        (fotos, videos, estadísticas, etc.). Al publicar dicho contenido, el usuario otorga a HoopLink<br>
        una licencia no exclusiva, gratuita y global para usar, reproducir, modificar, distribuir y<br>
        mostrar el contenido en la plataforma con fines promocionales o operativos.
      </p>
    </section><br>
    <section id="pol3">
      <h2>Uso Permitido</h2>
      <p>
        Los usuarios pueden acceder y utilizar el contenido de HoopLink únicamente para fines<br>
        personales y no comerciales. Está prohibido:
        <span>
          <ul>
            <li>
              Reproducir, distribuir o modificar cualquier contenido sin autorización previa por escrito.
            </li>
            <li>
              Usar el contenido para fines comerciales o lucrativos.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section id="pol4">
      <h2>Prohibiciones</h2>
      <p>
        Está estrictamente prohibido:<br>
        <span>
          <ul>
            <li>
              Copiar, descargar, distribuir o usar el contenido de HoopLink sin el consentimiento expreso<br>
              de Sport Forum, S.A.P.I. de C.V.
            </li>
            <li>
              Reclamar como propio cualquier material protegido por copyright de HoopLink
            </li>
            <li>
              Utilizar herramientas automatizadas para recopilar contenido de la plataforma.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section id="pol5">
      <h2>Reclamos por Infracción de Copyright</h2>
      <p>
        Si consideras que algún contenido de nuestra plataforma infringe tus derechos de autor, por<br>
        favor envíanos un reclamo a hooplink2&#64;gmail.com con la siguiente información:<br>
        <span>
          <ul>
            <li>
              Descripción del contenido protegido por copyright.
            </li>
            <li>
              Evidencia de que eres el propietario o representante autorizado.
            </li>
            <li>
              Ubicación específica del contenido en nuestra plataforma.
            </li>
          </ul>
        </span>
      </p><br>
      Tomaremos las medidas necesarias, incluyendo la eliminación del contenido si corresponde.
    </section><br>
    <section id="pol6">
      <h2>Modificaciones a la Política de Copyright</h2>
      <p>
        HoopLink se reserva el derecho de actualizar esta política en cualquier momento. Cualquier<br>
        cambio será notificado a través de nuestra plataforma.
      </p>
    </section><br>
    <section id="pol7">
      <h2>Contacto</h2>
      <p>
        Para cualquier consulta o autorización sobre el uso de la marca, por favor contacta a:<br>
        <span>
          <ul>
            <li>
              Correo electrónico:
              <ul>
                <li>
                  hooplink2&#64;gmail.com
                </li>
              </ul>
            </li>
            <li>
              Empresa:
              <ul>
                <li>
                  Sport Forum, S.A.P.I. de C.V.
                </li>
              </ul>
            </li>
          </ul>
        </span>
      </p>
    </section><br>
  </div>
  <div class="col-3"></div>
</div>
