<div class="grid grid-cols-12 mx-2 md:mx-4 lg:mx-10 my-4">
  <div class="col-span-1">
    <div class="flex justify-center">
      <img
        src="assets/images/logos/HOOPArtboard 50@8x.png"
        alt="Logo"
        class="w-20"
      />
    </div>
  </div>
  <div class="col-span-10 justify-self-center content-center">
    aqui va a ir algoasdasdasdasdads
  </div>
  <div class="col-span-1 justify-self-end content-center">
    <div class="flex gap-4">
      <i class="pi pi-sign-out cursor-pointer" pTooltip="Cerrar Sesión" (click)="logout()" tooltipPosition="left" style="font-size: 2rem"></i>
      <i class="pi pi-cog" pTooltip="Configuración" tooltipPosition="top" style="font-size: 2rem"></i>
    </div>
  </div>
</div>
