<div class="grid m-0 p-0">
  <div class="col-12 flex flex-column align-items-center justify-content-center">
    <label class="text-7xl components-font">Política de Marca</label>
    <label for="">Última actualización: 01-01-2025</label>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="lg:col col-12 flex flex-column align-items-center justify-content-center">
    <p class="text-left">
      En HoopLink, utilizamos cookies y tecnologías similares para mejorar la experiencia de<br>
      nuestros usuarios, analizar el uso de nuestra plataforma y ofrecer contenido y publicidad<br>
      personalizada. Esta Política de Cookies explica qué son las cookies, cómo las utilizamos y<br>
      cómo puedes gestionarlas.
    </p>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="col-3"></div>
  <div class="lg:col col-12 flex flex-column align-items-left justify-content-center">
    <h1 class="text-6xl text-left">Índice</h1>
    <ol>
      @for (section of sections; track $index) {
        <li>
          <a [href]="'#'+section.id" (click)="moveToSection(section.id, $event)">{{section.title}}</a>
        </li>
      }
    </ol>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="col-3"></div>
  <div class="lg:col col-12 flex flex-column align-items-left justify-content-center">
    <section id="pol1">
      <h2>¿Qué son las cookies?</h2>
      <p>
        Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando<br>
        visitas nuestro sitio web o utilizas nuestra aplicación. Estas cookies permiten reconocer tu<br>
        dispositivo, recordar tus preferencias y mejorar tu experiencia de navegación.
      </p>
    </section><br>
    <section id="pol2">
      <h2>Tipos de cookies que utilizamos</h2>
      <p>
        <span>
          <ol type="a">
            <li>
              Cookies esenciales:
              <ul>
                <li>
                  Estas cookies son necesarias para el funcionamiento de la plataforma y no pueden
                  desactivarse en nuestros sistemas. Se utilizan para autenticar usuarios, evitar fraudes
                  y garantizar la seguridad del sitio.
                </li>
              </ul>
            </li>
            <li>
              Cookies de rendimiento y análisis:
              <ul>
                <li>
                  Nos ayudan a recopilar información sobre cómo los usuarios interactúan con nuestra
                  plataforma, permitiéndonos mejorar su funcionamiento y optimizar la experiencia del usuario.
                </li>
              </ul>
            </li>
            <li>
              Cookies de funcionalidad:
              <ul>
                <li>
                  Estas cookies permiten recordar tus preferencias, como el idioma y la región, para brindarte
                  una experiencia personalizada.
                </li>
              </ul>
            </li>
            <li>
              Cookies de publicidad y marketing:
              <ul>
                <li>
                  Utilizamos estas cookies para mostrar anuncios relevantes para ti, tanto en nuestro sitio
                  como en otras páginas web. También permiten medir la efectividad de nuestras campañas publicitarias.
                </li>
              </ul>
            </li>
          </ol>
        </span>
      </p>
    </section><br>
    <section id="pol3">
      <h2>¿Cómo gestionar las cookies?</h2>
      <p>
        Puedes gestionar y desactivar las cookies a través de la configuración de tu navegador. Sin
        embargo, la desactivación de algunas cookies esenciales podría afectar el funcionamiento de la plataforma.
      </p>
    </section><br>
    <section id="pol4">
      <h2>Cookies de terceros</h2>
      <p>
        Algunas cookies en nuestra plataforma son establecidas por terceros, como proveedores de
        análisis o socios publicitarios. Estos terceros pueden recopilar información sobre tu
        actividad en nuestro sitio y otros sitios web.
      </p>
    </section><br>
    <section id="pol5">
      <h2>Cambios en esta Política de Cookies</h2>
      <p>
        Podemos actualizar esta política en cualquier momento. Te recomendamos revisarla
        periódicamente para estar informado sobre cualquier cambio.
      </p><br>
      Tomaremos las medidas necesarias, incluyendo la eliminación del contenido si corresponde.
    </section><br>
    <section id="pol6">
      <h2>Contacto</h2>
      <p>
        Para cualquier consulta o autorización sobre el uso de la marca, por favor contacta a:
        <span>
          <ul>
            <li>
              Correo electrónico:
              <ul>
                <li>
                  hooplink2&#64;gmail.com
                </li>
              </ul>
            </li>
            <li>
              Empresa:
              <ul>
                <li>
                  Sport Forum, S.A.P.I. de C.V.
                </li>
              </ul>
            </li>
          </ul>
        </span>
      </p>
    </section><br>
  </div>
  <div class="col-3"></div>
</div>
