<footer>
  <div class="grid grid-cols-12 lg:my-4">
    <div class="col-span-5 md:col-span-6 lg:col-span-2 flex items-center lg:justify-center justify-items-center">
      <p-image
          src="assets/images/logos/HOOPArtboard 49@8x.png"
          alt="Image"
          width="100px"
          (click)="redirectHome()"
          [style]="{'cursor': isLegal ? '' : 'pointer'}"/>
    </div>
    <div class="col-span-7 md:col-span-6 lg:col-span-10">
      <div class="grid grid-cols-12">
        <div class="col-span-12 lg:col-span-4">
          <br>
          <label for="nosotros-label" class="enlace-color components-font !text-4xl">Nosotros</label><br><br>
          @for (section of sections; track $index) {
            <a [routerLink]="section.route" target="_blank" class="flex enlace-color no-underline">{{section.title}}</a>
          }
        </div>
        <div class="col-span-12 lg:col-span-4">
          <br>
          <label for="servicio-cliente-label" class="enlace-color components-font !text-4xl">Servicio al Cliente</label><br><br>
          <label for="correo-label" class="enlace-color">Correo electrónico:</label><br>
          <a href="mailto:hooplink2&#64;gmail.com" class="enlace-color">hooplink2&#64;gmail.com</a>
          <br>
          <label for="horario-atencion-label" class="enlace-color">Horario de atención:</label><br>
          <label class="enlace-color">Lunes a Sábado de 8:00 a.m. a 6:00 p.m.</label><br>
        </div>
        <div class="col-span-12 lg:col-span-4">
          <br>
          <label for="servicio-cliente-label" class="enlace-color components-font !text-4xl">Síguenos</label><br><br>
          <div class="flex flex-row align-center justify-between">
            <i class="pi pi-instagram enlace-color lg:text-6xl !text-4xl"></i>&nbsp;
            <i class="pi pi-whatsapp enlace-color lg:text-6xl !text-4xl"></i>&nbsp;
            <i class="pi pi-youtube enlace-color lg:text-6xl !text-4xl"></i>&nbsp;
            <i class="pi pi-tiktok enlace-color lg:text-6xl !text-4xl"></i>&nbsp;
            <i class="pi pi-facebook enlace-color lg:text-6xl !text-4xl"></i>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-divider type="dashed" />
  <div class="flex align-center justify-center">
    <div class="flex justify-center align-center mb-2">
      <label for="anio-label" class="enlace-color">© {{anio}}, HoopLink // Estrategia, Sitio y contenido por Sport Forum</label>
    </div>
  </div>
</footer>
