<div class="grid m-0 p-0">
  <div class="col-12 flex flex-column align-items-center justify-content-center">
    <label class="text-8xl components-font">Acerca de</label>
    <p class="text-left">
      HoopLink es una plataforma innovadora operada por Sport Forum, S.A.P.I. de C.V., diseñada<br>
      para conectar talento deportivo con oportunidades académicas. Nuestro objetivo es brindar<br>
      a jugadores de preparatoria y universidad la visibilidad que necesitan para destacar ante<br>
      escuelas interesadas en su desempeño.<br><br>
      Creemos en el poder del deporte como motor de oportunidades, y por eso facilitamos un<br>
      espacio donde jugadores, entrenadores y escuelas puedan interactuar de manera directa,<br>
      confiable y efectiva. A través de HoopLink, los usuarios pueden compartir estadísticas,<br>
      videos y logros deportivos que reflejan su verdadero potencial.<br><br>
      **Nuestra misión:** Abrir puertas a los talentos deportivos, creando conexiones que<br>
      transformen sueños en realidades.<br><br>
      **Nuestra visión:** Ser la herramienta líder en la promoción de atletas hacia el éxito<br>
      académico y deportivo.<br><br>
      HoopLink está comprometido con la innovación, la transparencia y la accesibilidad,<br>
      brindando un entorno seguro y eficiente para todos sus usuarios.
    </p>
  </div>
</div>
