<div class="container-page">
  <app-header></app-header>
  <main>
    <div class="grid m-0 p-0 lg:ml-5 lg:mr-5 ">
      <div class="col-12 mt-4 mb-4">
        <div class="flex justify-content-center align-items-center">
          <form [formGroup]="formulario" (ngSubmit)="enviar()" autocomplete="off">
            <p-card [className]="'shadow-8'" [style]="{ width: '25rem', overflow: 'hidden', 'box-shadow': '0px 18px 92px 16px rgba(0, 0, 0, 0.12), 0px 48px 76px 6px rgba(0, 0, 0, 0.14), 0px 22px 30px rgba(0, 0, 0, 0.2)' }">
              <ng-template pTemplate="title">
                <h1 class="flex justify-content-center align-items-center">Iniciar Sesión</h1>
              </ng-template>
              <ng-template pTemplate="content">
                <div class="grid">
                  <div class="col-12">
                    <p-floatlabel variant="on">
                      <input pInputText id="on_label_correo" type="email" [ngClass]="{ 'ng-invalid ng-dirty': esValido('correo'), 'ng-valid': !esValido('correo') }"  formControlName='correo' autocomplete="off" fluid="true" />
                      <label for="on_label_correo">Correo</label>
                    </p-floatlabel>
                    @if (esValido('correo')) {
                      <small class="campoErrorTexto" [innerHTML]="getErrores('correo', 'Correo')"></small>
                    }
                  </div>
                  <div class="col-12">
                    <p-floatlabel variant="on">
                      <p-password formControlName='contrasena' [ngClass]="{ 'ng-invalid ng-dirty': esValido('contrasena'), 'ng-valid': !esValido('contrasena') }" autocomplete="off" [toggleMask]="true" [feedback]="false" [fluid]="true" appendTo="body"></p-password>
                      <label for="on_label_contrasena">Contraseña</label>
                    </p-floatlabel>
                    @if (esValido('contrasena')) {
                      <small class="campoErrorTexto" [innerHTML]="getErrores('contrasena', 'Contraseña')" ></small>
                    }
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="footer">
                <div class="flex gap-4 mt-1">
                    <p-button label="Entrar" class="w-full" styleClass="w-full" type="submit" [disabled]="formulario.invalid" />
                </div>
                <div class="flex gap-4 mt-1">
                  <p-button label="Registrarme" (onClick)="registrarme()" class="w-full" styleClass="w-full" type="button" [style]="{'background-color': '#f47621', 'border-color': '#f47621'}" />
                </div>
                <div class="flex gap-4 mt-1">
                  <p-button label="Olvide mi contraseña" (onClick)="muestraRecuperaContrasena()" class="w-full" styleClass="w-full" type="button" [style]="{'background-color': '#6c757d', 'border-color': '#6c757d'}" />
                </div>
            </ng-template>
            </p-card>
          </form>
        </div>
      </div>
    </div>
    @if (esVisibleDialog) {
      <app-modal-token-valido [(esVisibleDialog)]="esVisibleDialog"></app-modal-token-valido>
    }
    @if (esVisibleRecuperaContrasenaDialog) {
      <app-modal-recupera-contrasena [(esVisibleRecuperaContrasenaDialog)]="esVisibleRecuperaContrasenaDialog"></app-modal-recupera-contrasena>
    }
  </main>
  <app-footer></app-footer>
</div>
