<div class="grid m-0 p-0">
  <div class="col-12 flex flex-column align-items-center justify-content-center">
    <label class="text-7xl components-font">Términos y Condiciones de Uso</label>
    <label for="">Última actualización: 01-01-2025</label>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="lg:col col-12 flex flex-column align-items-center justify-content-center">
    <p class="text-left">
      Bienvenido a HoopLink, una plataforma operada por Sport Forum, S.A.P.I. de C.V. Al acceder<br>
      y utilizar nuestro sitio web y servicios, aceptas los presentes Términos y Condiciones. Por<br>
      favor, léelos cuidadosamente antes de registrarte o utilizar nuestra plataforma.
    </p>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="col-3"></div>
  <div class="lg:col col-12 flex flex-column align-items-left justify-content-center">
    <h1 class="text-6xl text-left">Índice</h1>
    <ol>
      @for (section of sections; track $index) {
        <li>
          <a [href]="'#'+section.id" (click)="moveToSection(section.id, $event)">{{section.title}}</a>
        </li>
      }
    </ol>
  </div>
</div>
<div class="grid m-0 p-0">
  <div class="col-3"></div>
  <div class="lg:col col-12 flex flex-column align-items-left justify-content-center">
    <section id="pol1">
      <h2>Aceptación de los Términos</h2>
      <p>
        Al registrarte en HoopLink, confirmas que:<br>
        <span>
          <ul>
            <li>
              Eres mayor de 18 años o cuentas con el consentimiento de tus padres o tutores legales si eres menor de edad.
            </li>
            <li>
              Toda la información proporcionada en tu registro es veraz y actualizada.
            </li>
            <li>
              Cumplirás con los presentes Términos y Condiciones, así como con las leyes aplicables.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section id="pol2">
      <h2>Registro y Cuenta de Usuario</h2>
      <p>
        Para utilizar nuestra plataforma, debes crear una cuenta proporcionando información<br>
        precisa, incluyendo:<br>
        <span>
          <ul>
            <li>
              Nombre completo.
            </li>
            <li>
              Fecha de nacimiento.
            </li>
            <li>
              Correo electrónico válido.
            </li>
            <li>
              Número de celular activo.
            </li>
            <li>
              Datos deportivos y académicos, si aplican.
            </li>
          </ul>
        </span><br>
        Es tu responsabilidad mantener la confidencialidad de tus credenciales de acceso y no<br>
        compartir tu cuenta con terceros.
      </p>
    </section><br>
    <section id="pol3">
      <h2>Usuarios Menores de Edad</h2>
      <p>
        Los menores de edad pueden registrarse en HoopLink únicamente con el consentimiento<br>
        explícito de sus padres o tutores legales:<br>
        <span>
          <ul>
            <li>
              Los tutores son responsables de supervisar la actividad del menor en la plataforma.
            </li>
            <li>
              HoopLink se reserva el derecho de solicitar comprobantes del consentimiento de los
              tutores en cualquier momento.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section id="pol4">
      <h2>Uso Permitido de la Plataforma</h2>
      <p>
        HoopLink debe utilizarse únicamente con fines relacionados con la promoción de talento<br>
        deportivo y la conexión entre jugadores y escuelas. Está prohibido:<br>
        <span>
          <ul>
            <li>
              Publicar contenido ofensivo, discriminatorio, violento o inadecuado.
            </li>
            <li>
              Suplantar a otras personas o proporcionar información falsa.
            </li>
            <li>
              Utilizar la plataforma para actividades ilegales o comerciales no autorizadas.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section id="pol5">
      <h2>Contenido Generado por Usuarios</h2>
      <p>
        El contenido publicado por los usuarios, como fotos, videos o comentarios, debe cumplir con<br>
        nuestras políticas de comunidad y no infringir derechos de terceros. Al publicar contenido<br>
        en HoopLink, otorgas a Sport Forum, S.A.P.I. de C.V. una licencia no exclusiva para usar,<br>
        almacenar y mostrar dicho contenido en la plataforma.
      </p>
    </section><br>
    <section id="pol6">
      <h2>Privacidad y Protección de Datos</h2>
      <p>
        Tu privacidad es importante para nosotros. Consulta nuestra Política de Privacidad para<br>
        entender cómo recopilamos, usamos y protegemos tu información personal.
      </p>
    </section><br>
    <section id="pol7">
      <h2>Responsabilidad de HoopLink</h2>
      <p>
        HoopLink actúa como un intermediario entre jugadores y escuelas. No garantizamos que el<br>
        uso de la plataforma resulte en becas, contratos u oportunidades específicas:<br>
        <span>
          <ul>
            <li>
              No somos responsables del contenido publicado por los usuarios.
            </li>
            <li>
              No asumimos responsabilidad por interacciones fuera de nuestra plataforma entre
              usuarios y terceros.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section id="pol8">
      <h2>Suspensión y Terminación de Cuentas</h2>
      <p>
        Podemos suspender o cancelar tu cuenta sin previo aviso si incumples estos Términos y<br>
        Condiciones, publicas contenido inapropiado o utilizas la plataforma para fines ilegales.
      </p>
    </section><br>
    <section id="pol9">
      <h2>Modificaciones a los Términos y Condiciones</h2>
      <p>
        Sport Forum, S.A.P.I. de C.V. se reserva el derecho de modificar estos Términos y Condiciones<br>
        en cualquier momento. Los cambios serán publicados en nuestro sitio web, y es tu<br>
        responsabilidad revisarlos periódicamente.
      </p>
    </section><br>
    <section id="pol10">
      <h2>Contacto</h2>
      <p>
        Si tienes preguntas o inquietudes sobre estos Términos y Condiciones, puedes contactarnos en:<br>
        <span>
          <ul>
            <li>
              Correo electrónico: hooplink2&#64;gmail.com
            </li>
            <li>
              Empresa: Sport Forum, S.A.P.I. de C.V.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section id="pol11">
      <h2>Ley Aplicable y Jurisdicción</h2>
      <p>
        Estos Términos y Condiciones se rigen por la legislación mexicana. Cualquier controversia<br>
        será resuelta en los tribunales competentes de [ciudad o estado].
      </p>
    </section><br>
  </div>
  <div class="col-3"></div>
</div>
