<div class="container">
  <app-header></app-header>
  <main>
    <div class="grid m-0 p-0 ml-5 mr-5">
      <div class="col-12 md:col-6 lg:col-8">
        <div class="flex flex-column">
          <div class="flex align-items-center justify-content-center">
            <h1 class="text-7xl">CONECTANDO JUGADORES<br>CON BUSCADORES DE TALENTO</h1>
          </div>
          <br>
          <div class="flex align-items-center justify-content-center">
            <p-button rounded styleClass="fadeinleft animation-duration-2000 animation-iteration-infinite">
              <span class="components-font">UNIRSE AHORA</span>
            </p-button>
          </div>
          <br>
          <div class="flex align-items-center justify-content-center">
            <p>
              Al hacer clic en unirse ahora o iniciar sesión <br>aceptas las <a href="#">Condiciones de uso</a>,
              la <a href="#">Política de Privacidad</a><br> y la <a href="#">Política de Cookies</a> de HoopLink.
            </p>
          </div>
          <div class="flex align-items-center justify-content-center">
            <h1>¿TIENES LO NECESARIO?</h1>
          </div>
          <br>
      </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex align-items-left justify-content-left m-0 p-0">
        <div class="vertical-align-top">
          <p-image
              src="assets/images/inicio/inicio-redonda-baja-calidad.png"
              alt="Image"
              width="450"/>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
