<div class="container">
  <app-header></app-header>
  <main>
    <div class="grid m-0 p-0">
      <div class="col-12 md:col-6 lg:col-8">
        <div class="flex flex-column">
          <div class="flex align-items-center justify-content-center">
            <h1 class="text-7xl">CONECTANDO JUGADORES<br>CON BUSCADORES DE TALENTO</h1>
          </div>
          <br>
          <div class="flex align-items-center justify-content-center">
            <p-button rounded size="small" >
              <span class="components-font">UNIRSE AHORA</span>
            </p-button>
          </div>
          <br>
          <div class="flex align-items-center justify-content-center">
            <p>
              Al hacer click en unirte ahora o iniciar sesión <br>aceptas las <span class="text-blue-600">Condiciones de uso</span>,
              la <span class="colroazul underline cursor-pointer">Politica de Privacidad</span><br> y la <span class="text-blue-500">Politica de Cookies</span> de HoopLink.
            </p>
          </div>
          <div class="flex align-items-center justify-content-center">
            <h1>¿TIENES LO NECESARIO?</h1>
          </div>
          <br>
      </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 flex align-items-left justify-content-left m-0 p-0">
        <div class="vertical-align-top">
          <p-image
              src="assets/images/inicio/Inicio redonda.png"
              alt="Image"
              width="450"/>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
