<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <h1 class="text-7xl font-bold text-center my-6">
      Términos y Condiciones de Uso
    </h1>
    <p class="text-center">Última actualización: 01-01-2025</p>
  </div>
</div>
<div class="flex justify-center mt-4 mb-8">
  <div class="w-full max-w-3xl">
    <p class="leading-relaxed">
        Bienvenido a HoopLink, una plataforma operada por Sport Forum, S.A.P.I. de C.V. Al acceder
        y utilizar nuestro sitio web y servicios, aceptas los presentes Términos y Condiciones. Por
        favor, léelos cuidadosamente antes de registrarte o utilizar nuestra plataforma.
      </p>
  </div>
</div>
<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <h1 class="text-6xl text-left">Índice</h1>
    <ol class="list-decimal ml-14">
      @for (section of sections; track $index) {
        <li class="my-2">
          <a [href]="'#'+section.id" (click)="moveToSection(section.id, $event)">{{section.title}}</a>
        </li>
      }
      </ol>
  </div>
</div>
<div class="flex justify-center">
  <div class="w-full max-w-3xl">
     <section class="my-5 px-2 py-2" id="pol1">
      <h2 class="text-5xl" >Aceptación de los Términos</h2>
      <p>
        Al registrarte en HoopLink, confirmas que:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              Eres mayor de 18 años o cuentas con el consentimiento de tus padres o tutores legales si eres menor de edad.
            </li>
            <li>
              Toda la información proporcionada en tu registro es veraz y actualizada.
            </li>
            <li>
              Cumplirás con los presentes Términos y Condiciones, así como con las leyes aplicables.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section class="my-5 px-2 py-2"  id="pol2">
      <h2 class="text-5xl" >Registro y Cuenta de Usuario</h2>
      <p>
        Para utilizar nuestra plataforma, debes crear una cuenta proporcionando información
        precisa, incluyendo:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              Nombre completo.
            </li>
            <li>
              Fecha de nacimiento.
            </li>
            <li>
              Correo electrónico válido.
            </li>
            <li>
              Número de celular activo.
            </li>
            <li>
              Datos deportivos y académicos, si aplican.
            </li>
          </ul>
        </span><br>
        Es tu responsabilidad mantener la confidencialidad de tus credenciales de acceso y no
        compartir tu cuenta con terceros.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol3">
      <h2 class="text-5xl" >Usuarios Menores de Edad</h2>
      <p>
        Los menores de edad pueden registrarse en HoopLink únicamente con el consentimiento
        explícito de sus padres o tutores legales:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              Los tutores son responsables de supervisar la actividad del menor en la plataforma.
            </li>
            <li>
              HoopLink se reserva el derecho de solicitar comprobantes del consentimiento de los
              tutores en cualquier momento.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol4">
      <h2 class="text-5xl" >Uso Permitido de la Plataforma</h2>
      <p>
        HoopLink debe utilizarse únicamente con fines relacionados con la promoción de talento
        deportivo y la conexión entre jugadores y escuelas. Está prohibido:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              Publicar contenido ofensivo, discriminatorio, violento o inadecuado.
            </li>
            <li>
              Suplantar a otras personas o proporcionar información falsa.
            </li>
            <li>
              Utilizar la plataforma para actividades ilegales o comerciales no autorizadas.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol5">
      <h2 class="text-5xl" >Contenido Generado por Usuarios</h2>
      <p>
        El contenido publicado por los usuarios, como fotos, videos o comentarios, debe cumplir con
        nuestras políticas de comunidad y no infringir derechos de terceros. Al publicar contenido
        en HoopLink, otorgas a Sport Forum, S.A.P.I. de C.V. una licencia no exclusiva para usar,
        almacenar y mostrar dicho contenido en la plataforma.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol6">
      <h2 class="text-5xl" >Privacidad y Protección de Datos</h2>
      <p>
        Tu privacidad es importante para nosotros. Consulta nuestra Política de Privacidad para
        entender cómo recopilamos, usamos y protegemos tu información personal.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol7">
      <h2 class="text-5xl" >Responsabilidad de HoopLink</h2>
      <p>
        HoopLink actúa como un intermediario entre jugadores y escuelas. No garantizamos que el
        uso de la plataforma resulte en becas, contratos u oportunidades específicas:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              No somos responsables del contenido publicado por los usuarios.
            </li>
            <li>
              No asumimos responsabilidad por interacciones fuera de nuestra plataforma entre
              usuarios y terceros.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol8">
      <h2 class="text-5xl" >Suspensión y Terminación de Cuentas</h2>
      <p>
        Podemos suspender o cancelar tu cuenta sin previo aviso si incumples estos Términos y
        Condiciones, publicas contenido inapropiado o utilizas la plataforma para fines ilegales.
      </p>
    </section><br>
    <section id="pol9">
      <h2 class="text-5xl" >Modificaciones a los Términos y Condiciones</h2>
      <p>
        Sport Forum, S.A.P.I. de C.V. se reserva el derecho de modificar estos Términos y Condiciones
        en cualquier momento. Los cambios serán publicados en nuestro sitio web, y es tu
        responsabilidad revisarlos periódicamente.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol10">
      <h2 class="text-5xl" >Contacto</h2>
      <p>
        Si tienes preguntas o inquietudes sobre estos Términos y Condiciones, puedes contactarnos en:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              Correo electrónico: hooplink2&#64;gmail.com
            </li>
            <li>
              Empresa: Sport Forum, S.A.P.I. de C.V.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol11">
      <h2 class="text-5xl" >Ley Aplicable y Jurisdicción</h2>
      <p>
        Estos Términos y Condiciones se rigen por la legislación mexicana. Cualquier controversia
        será resuelta en los tribunales competentes de [ciudad o estado].
      </p>
    </section><br>
  </div>
</div>
