<header>
  <div class="grid m-0 p-0 lg:ml-5 lg:mr-5">

    <div class="col-3 md:col-6 lg:col-4 flex justify-content-center lg:justify-content-start">
      <p-image
          src="assets/images/logos/HOOPArtboard 51@8x.png"
          alt="Image"
          [width]="widthImg"
          (click)="redirectHome()"
          [style]="{'cursor': 'pointer'}"/>
    </div>
    <!-- lg:flex-wrap lg:justify-content-center lg:align-items-center lg:justify-content-between -->
    <div class="col-9 md:col-6 lg:col-8 lg:flex">
      <div class="card flex align-items-center justify-content-center">
        <p-menubar [model]="items" [style]="{'background-color': 'white', 'border-color': 'white'}">
          <ng-template #end>
            <p-button rounded (onClick)="goLogin()" class="flex align-items-center justify-content-center" [style]="{'background-color': '#f47621', 'border-color': '#f47621'}" >
              <span class="components-font">Inicio Sesion</span>
            </p-button>
          </ng-template>
        </p-menubar>
      </div>
    </div>
  </div>
</header>
