<header>
  <div class="grid m-0 p-0 ml-5 mr-5">
    <div class="col-12 md:col-6 lg:col-4">
      <p-image
          src="assets/images/logos/HOOPArtboard 51@8x.png"
          alt="Image"
          width="350"/>
    </div>
    <div class="col-12 md:col-6 lg:col-6 flex justify-content-center align-items-center justify-content-between">
      <h3>Jugadores</h3>
      <h3>Escuelas</h3>
      <h3>Eventos</h3>
      <h3>Patrocinadores</h3>
      <h3>Empresas</h3>
    </div>
    <div class="col-12 md:col-6 lg:col-2 flex justify-content-center align-items-center">
      <p-button rounded  >
        <span class="components-font">Inicio Sesion</span>
      </p-button>
    </div>
  </div>
</header>
