<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <h1 class="text-7xl font-bold text-center my-6">Política de Copyright</h1>
    <p class="text-center">Última actualización: 01-01-2025</p>
  </div>
</div>
<div class="flex justify-center mt-4 mb-8">
  <div class="w-full max-w-3xl">
    <p class="leading-relaxed">
      Sport Forum, S.A.P.I. de C.V., operadora de la plataforma HoopLink, se compromete a
      proteger la propiedad intelectual de todo el contenido disponible en nuestra plataforma.
      Esta política establece las directrices sobre el uso de nuestro contenido y los derechos asociados.
    </p>
  </div>
</div>
<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <h1 class="text-6xl text-left">Índice</h1>
    <ol class="list-decimal ml-14">
      @for (section of sections; track $index) {
        <li class="my-2">
          <a [href]="'#'+section.id" (click)="moveToSection(section.id, $event)">{{section.title}}</a>
        </li>
      }
      </ol>
  </div>
</div>
<div class="flex justify-center">
  <div class="w-full max-w-3xl">
    <section class="my-5 px-2 py-2" id="pol1">
      <h2 class="text-5xl">Propiedad Intelectual</h2>
      <p class="leading-relaxed">
        Todo el contenido presente en HoopLink, incluyendo pero no limitado a textos, gráficos,
        logos, imágenes, videos, diseño de la plataforma y cualquier otro material, es propiedad
        exclusiva de Sport Forum, S.A.P.I. de C.V. o de sus licenciantes. Este contenido está protegido
        por las leyes de propiedad intelectual aplicables en México y tratados internacionales.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol2">
      <h2 class="text-5xl">Contenido Generado por Usuarios</h2>
      <p class="leading-relaxed">
        Los usuarios conservan los derechos sobre el contenido que comparten en la plataforma
        (fotos, videos, estadísticas, etc.). Al publicar dicho contenido, el usuario otorga a HoopLink
        una licencia no exclusiva, gratuita y global para usar, reproducir, modificar, distribuir y
        mostrar el contenido en la plataforma con fines promocionales o operativos.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol3">
      <h2 class="text-5xl">Uso Permitido</h2>
      <p class="leading-relaxed">
        Los usuarios pueden acceder y utilizar el contenido de HoopLink únicamente para fines
        personales y no comerciales. Está prohibido:
        <span>
          <ul class="list-disc ml-10">
            <li>
              Reproducir, distribuir o modificar cualquier contenido sin autorización previa por escrito.
            </li>
            <li>
              Usar el contenido para fines comerciales o lucrativos.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol4">
      <h2 class="text-5xl">Prohibiciones</h2>
      <p class="leading-relaxed">
        Está estrictamente prohibido:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              Copiar, descargar, distribuir o usar el contenido de HoopLink sin el consentimiento expreso
              de Sport Forum, S.A.P.I. de C.V.
            </li>
            <li>
              Reclamar como propio cualquier material protegido por copyright de HoopLink
            </li>
            <li>
              Utilizar herramientas automatizadas para recopilar contenido de la plataforma.
            </li>
          </ul>
        </span>
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol5">
      <h2 class="text-5xl">Reclamos por Infracción de Copyright</h2>
      <p class="leading-relaxed">
        Si consideras que algún contenido de nuestra plataforma infringe tus derechos de autor, por<br>
        favor envíanos un reclamo a hooplink2&#64;gmail.com con la siguiente información:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              Descripción del contenido protegido por copyright.
            </li>
            <li>
              Evidencia de que eres el propietario o representante autorizado.
            </li>
            <li>
              Ubicación específica del contenido en nuestra plataforma.
            </li>
          </ul>
        </span>
      </p><br>
      Tomaremos las medidas necesarias, incluyendo la eliminación del contenido si corresponde.
    </section><br>
    <section class="my-5 px-2 py-2" id="pol6">
      <h2 class="text-5xl">Modificaciones a la Política de Copyright</h2>
      <p class="leading-relaxed">
        HoopLink se reserva el derecho de actualizar esta política en cualquier momento. Cualquier<br>
        cambio será notificado a través de nuestra plataforma.
      </p>
    </section><br>
    <section class="my-5 px-2 py-2" id="pol7">
      <h2 class="text-5xl">Contacto</h2>
      <p class="leading-relaxed">
        Para cualquier consulta o autorización sobre el uso de la marca, por favor contacta a:<br>
        <span>
          <ul class="list-disc ml-10">
            <li>
              Correo electrónico:
              <ul class="list-[circle] ml-10">
                <li>
                  hooplink2&#64;gmail.com
                </li>
              </ul>
            </li>
            <li>
              Empresa:
              <ul class="list-[circle] ml-10">
                <li>
                  Sport Forum, S.A.P.I. de C.V.
                </li>
              </ul>
            </li>
          </ul>
        </span>
      </p>
    </section><br>
  </div>
</div>
