<footer>
  <div class="grid m-0 p-0 lg:ml-5 lg:mr-5">
    <div class="col-5 md:col-6 lg:col-2 flex align-items-center lg:justify-content-start">
      <p-image
          src="assets/images/logos/HOOPArtboard 49@8x.png"
          alt="Image"
          width="50px"
      />&nbsp;&nbsp;&nbsp;
      <label for="" class="enlace-color">© {{anio}}</label>
    </div>
    <div class="col-7 md:col-6 lg:col-10 lg:flex justify-content-center align-items-center justify-content-between">
      <a href="#" class="flex enlace-color no-underline">Acerca de</a>
      <a href="#" class="flex enlace-color no-underline">Condiciones de uso</a>
      <a href="#" class="flex enlace-color no-underline">Política de privacidad</a>
      <a href="#" class="flex enlace-color no-underline">Política de cookies</a>
      <a href="#" class="flex enlace-color no-underline">Política de copyright</a>
      <a href="#" class="flex enlace-color no-underline">Política de marca</a>
    </div>
  </div>
</footer>
