<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-6 p-4">
  <!-- CARD 1 -->
  <div (click)="onCambiaCard('inf-perso')" class="bg-white shadow-lg rounded-2xl p-6 cursor-pointer transition transform hover:shadow-xl active:scale-95">
    <div class="flex items-center space-x-4 mb-4">
      <i class="w-16 h-16 pi pi-user-edit" style="font-size: 4rem"></i>
      <div>
        <h2 class="text-xl font-bold text-gray-800">Información personal</h2>
      </div>
    </div>
  </div>

  <!-- CARD 2 -->
  <div class="bg-white shadow-lg rounded-2xl p-6">
    <div class="flex items-center space-x-4 mb-4">
      <i class="w-16 h-16 pi pi-user-edit" style="font-size: 4rem"></i>
      <div>
        <h2 class="text-xl font-bold text-gray-800">Información personal</h2>
      </div>
    </div>
  </div>

  <!-- CARD 3 -->
  <div class="bg-white shadow-lg rounded-2xl p-6">
    <div class="flex items-center space-x-4 mb-4">
      <i class="w-16 h-16 pi pi-user-edit" style="font-size: 4rem"></i>
      <div>
        <h2 class="text-xl font-bold text-gray-800">Información personal</h2>
      </div>
    </div>
  </div>

  <!-- CARD 4 -->
  <div class="bg-white shadow-lg rounded-2xl p-6">
    <div class="flex items-center space-x-4 mb-4">
      <i class="w-16 h-16 pi pi-user-edit" style="font-size: 4rem"></i>
      <div>
        <h2 class="text-xl font-bold text-gray-800">Información personal</h2>
      </div>
    </div>
  </div>

  <!-- CARD 5 -->
  <div class="bg-white shadow-lg rounded-2xl p-6">
    <div class="flex items-center space-x-4 mb-4">
      <i class="w-16 h-16 pi pi-user-edit" style="font-size: 4rem"></i>
      <div>
        <h2 class="text-xl font-bold text-gray-800">Información personal</h2>
      </div>
    </div>
  </div>
</div>
