/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Bebas Neue';
  src: url('assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('assets/fonts/Space_Mono/SpaceMono-Bold.ttf') format('ttf')
    url('assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('ttf'),
    url('assets/fonts/Space_Mono/SpaceMono-Italic.ttf') format('ttf'),
    url('assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
/* Aplica Bebas Neue a todo el cuerpo */
body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

/* Aplica Monospace solo a los títulos (h1, h2, h3, etc.) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
}

.components-font {
  font-family: 'Bebas Neue', sans-serif;
  font-size: larger;
  font: bold;
}

.container-page {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
