<p-dialog
  header="¡Importante! Confirma tu correo electrónico ✅ para activar tu cuenta."
  [(visible)]="esVisibleDialog"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="true"
  [resizable]="true"
  (closable)="true"
  (visibleChange)="onHide()">
      <p>
        Gracias por registrarte en HoopLink. Estamos muy contentos de tenerte a bordo 😊.<br><br>
        Para poder iniciar sesión 🔑 y disfrutar de todas las funcionalidades de nuestra plataforma, es necesario que
        <span class="fontBoldSpam">confirmes la validez de tu dirección de correo electrónico.</span>📧<br><br>
        Cuando te registraste, te enviamos un mensaje a tu correo. Dentro de ese correo, encontrarás un <span class="fontBoldSapm">botón de confirmación</span> 👍.<br><br>
        <span class="fontBoldSpam">Por favor, sigue estos sencillos pasos para activar tu cuenta:</span><br>
        <span>
          <ol>
            <li>
              <span class="fontBoldSpam">Revisa tu bandeja de entrada</span> 📥. ¡No olvides mirar en la carpeta de spam o correo no deseado 🧐, a veces los correos se esconden allí!
            </li>
            <br>
            <li>
              <span class="fontBoldSpam">Busca el correo electrónico</span> que te enviamos con un asunto como "Bienvenido a nuestra plataforma" o "Verifica tu cuenta". ✉️
            </li>
            <br>
            <li>
              Haz clic en el <span class="fontBoldSpam">botón de confirmar</span> ✅ que está dentro del correo.
            </li>
          </ol>
        </span>
      </p>
</p-dialog>
